#
# This files contains the paramters that define the names of the 
# keys and comment fields in the FITS files.  
#
##############################################################################
#
# Header keys that are written into all FITS files
#
version_hname = wlvers
version_comment = version of weak lensing code
noise_method_hname = noismeth
noise_method_comment = Noise method, typically WEIGHT_IMAGE
dist_method_hname = distmeth
dist_method_comment = Method for dealing with distortions
#
##############################################################################
#
# StarCatalog:
#
# If stars_io == FITS (or stars_ext contains 'fits'), then these define
# the column names for each catalog item that we need:
#
stars_id_col = id
stars_x_col = x
stars_y_col = y
stars_sky_col = sky
stars_noise_col = noise
stars_flags_col = size_flags
stars_mag_col = mag
stars_objsize_col = sigma0
stars_isastar_col = star_flag
#
# If stars_io == TEXT (or stars_ext does not contain 'fits'), then the
# values are written as 7 columns in the above order.
#
# Other header fields:
#
stars_minsize_hname = minsize  
stars_minsize_comment = Minimum size to consider for PSF stars
stars_maxsize_hname = maxsize
stars_maxsize_comment = Maximum size to consider for PSF stars
stars_logsize_hname = logsize
stars_logsize_comment = Are size values already log(size)?
stars_minmag_hname = minmag
stars_minmag_comment = The minimum mag to consider for PSF stars
stars_maxmag_hname = maxmag
stars_maxmag_comment = The maximum mag to consider for PSF stars
stars_maxoutmag_hname = maxomag
stars_maxoutmag_comment = The maximum mag to output for PSF stars
stars_ndivx_hname = ndivx
stars_ndivx_comment = Number of subdivisions in x direction
stars_ndivy_hname = ndivy
stars_ndivy_comment = Number of subdivisions in y direction
stars_startn1_hname = startn1
stars_startn1_comment = Fraction of objects to start with per subdivision
stars_starfrac_hname = starfrac
stars_starfrac_comment = What fraction of startn1 are probably stars
stars_magstep1_hname = magstep1
stars_magstep1_comment = Step size in magnitudes
stars_miniter1_hname = miniter1
stars_miniter1_comment = Min times to step up in mag cutoff
stars_reject1_hname = reject1
stars_reject1_comment = N sigma for rejection
stars_binsize1_hname = binsize1
stars_binsize1_comment = Bin size for histogram
stars_maxratio1_hname = maxrat1
stars_maxratio1_comment = Max ratio of valley count to peak count
stars_okvalcount_hname = okvalcnt
stars_okvalcount_comment = valley cnt<=okvalcnt then OK even if ratio>maxratio1
stars_maxrms_hname = maxrms
stars_maxrms_comment = Max rms of first linear fit
stars_starsperbin_hname = nperbin
stars_starsperbin_comment = Minimum stars to expect in each bin
stars_fitorder_hname = fsorder
stars_fitorder_comment = Order of fitted function size(x,y)
stars_fitsigclip_hname = sigclip
stars_fitsigclip_comment = Sigma clip when fitting size(x,y)
stars_startn2_hname = startn2
stars_startn2_comment = How many objects to start with 
stars_magstep2_hname = magstep2
stars_magstep2_comment = Step size in magnitudes 
stars_miniter2_hname = miniter2
stars_miniter2_comment = Min times to step up the magnitude cutoff
stars_minbinsize_hname = minbinsz
stars_minbinsize_comment = Min width of histogram bins
stars_reject2_hname = reject2
stars_reject2_comment = N sigma for rejection 
stars_purityratio_hname = purerat
stars_purityratio_comment = Max ratio of valley count to peak count
stars_maxrefititer_hname = maxrefit
stars_maxrefititer_comment = Max number of times to refit size(x,y) 
#
##############################################################################
#
# PSFCatalog
#
# If psf_io == FITS (or psf_ext contains 'fits'), then these define
# the column names for each catalog item that we need:
#
psf_id_col = id
psf_x_col = x
psf_y_col = y
psf_sky_col = sky
psf_noise_col = noise
psf_flags_col = psf_flags
psf_nu_col = nu 
psf_order_col = psf_order
psf_sigma_col = sigma_p
psf_coeffs_col = shapelets
#
# If psf_io == TEXT (or psf_ext does not contain 'fits'), then the
# values are written as 6 columns in the above order.
#
# Other header fields:
#
psf_aperture_hname = psfap
psf_aperture_comment = How many sigma to use for aperture
psf_order_hname = psford
psf_order_comment = Order of shapelet expansion for PSF stars.
psf_seeing_est_hname = see_est
psf_seeing_est_comment = An estimte of seeing, good to a factor of two
#
##############################################################################
#
# FittedPSF 
#
# If fitpsf_io == FITS (or fitpsf_ext contains 'fits'), then these define
# the column names for each catalog item that we need:
#
fitpsf_psf_order_col = psf_order
fitpsf_sigma_col = sigma
fitpsf_fit_order_col = fit_order
fitpsf_npca_col = npca
fitpsf_xmin_col = xmin
fitpsf_xmax_col = xmax
fitpsf_ymin_col = ymin
fitpsf_ymax_col = ymax
fitpsf_ave_psf_col = ave_psf
fitpsf_rot_matrix_col = rot_matrix
fitpsf_interp_matrix_col = interp_matrix
#
# If fitpsf_io == TEXT (or fitpsf_ext does not contain 'fits'), then
# the code uses a standard text I/O for the FittedPSF class.
# Also, any fitpsf_delim specifier is ignored.
#
# Other header fields:
#
fitpsf_order_hname = fpsford
fitpsf_order_comment = Order in x,y of the fit across chip
fitpsf_pca_thresh_hname = pcthresh
fitpsf_pca_thresh_comment = Use PCA components with absval >= thresh*S(0)
#
##############################################################################
#
# ShearCatalog
#
# If shear_io == FITS (or shear_ext contains 'fits'), then these define
# the column names for each catalog item that we need:
#
shear_id_col = id
shear_x_col = x
shear_y_col = y
shear_sky_col = sky
shear_noise_col = noise
shear_flags_col = shear_flags
shear_ra_col = ra
shear_dec_col = dec
shear_shear1_col = shear1
shear_shear2_col = shear2
shear_nu_col = nu
shear_cov00_col = shear_cov00
shear_cov01_col = shear_cov01
shear_cov11_col = shear_cov11
shear_order_col = gal_order
shear_sigma_col = shapelet_sigma
shear_coeffs_col = shapelets_prepsf
#
# If shear_io == TEXT (or shear_ext does not contain 'fits'), then the
# values are written as 12 columns in the above order followed by
# the coefficients (there are (order+1)*(order+2)/2 of these).
# 
# Other header fields:
#
shear_aperture_hname = shap
shear_aperture_comment = How many sigma to use for aperture
shear_max_aperture_hname = shmaxap
shear_max_aperture_comment = Maximum size of the aperture in arcsec
shear_gal_order_hname = galord
shear_gal_order_comment = Order of pre-psf shapelet decomp
shear_gal_order2_hname = galord2
shear_gal_order2_comment = Order of shapelets for shear measurement
shear_min_gal_size_hname = mingalsz
shear_min_gal_size_comment = min object size in multiples of PSF size
shear_f_psf_hname = shfpsf
shear_f_psf_comment = sigma^2_obs = sigma^2_gal + f_psf sigma^2_psf
#
