output_dots = 1
version = test

root = ../../branches/N/fldn422_4

image_ext = .fits

noise_method = GAIN_FITS
image_gain_key = GAIN
image_readnoise_key = RON

dist_method = FUNC2D
dist_ext = .undfunc2

cat_ext = .pcatE
cat_id_col = 1
cat_x_col = 2
cat_y_col = 3
cat_mag_col = 4
cat_mag_err_col = 5
cat_sky_col = 6
cat_size_col = 7
cat_size2_col = 8
cat_flag_col = 14
cat_ignore_flags = 0x80
cat_bad_sky = -999.

stars_ext = .stars _stars.fits _stars.csv

psf_ext = .psf _psf.fits _psf.csv
psf_aperture = 5.
psf_order = 10
psf_seeing_est = 0.9

fitpsf_ext = .fitpsf _fitpsf.fits 
fitpsf_order = 2
fitpsf_pca_thresh = 1.e-6

shear_ext = .shear _shear.fits _shear.csv
shear_aperture = 3.
shear_max_aperture = 10.
shear_gal_order = 6
shear_gal_order2 = 2
shear_min_gal_size = 1.0
shear_f_psf = 1.0

